main {
    padding-bottom: 80px; /* or any amount */
}

.promptContainer {
    border: white 2px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    margin-top: 5%;
    width: 90%;
    justify-self: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(44, 73, 56, 0.2);
    transition: all 0.5s ease;
}

.promptContainer:hover {
    transform: scale(1.01);
}

.promptContainer h1 {
    background-color: var(--light-green);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.promptContainer p {
    padding: 3%; 
}

.bonusContainer {
    background-color:#bdd9b9;
    width: 87%;
    margin-top: 20px;
    justify-self: center;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(44, 73, 56, 0.2);
    transition: all 0.5s ease;
}

.bonusContainer h3 {
    display: block;
}

.bonusContainer:hover{
    transform: scale(1.01);
}

.responseForm {
    justify-self: center;
    justify-items: center;
    width: 90%;
    height: 250px;
    margin-top: 20px;
}

textarea {
    width: 80%;
    height: 200px;
    resize: vertical;
    border: var(--medium-green) 2px solid;
    border-radius: 10px;
    font-family: "Nunito";
    transition: all 0.3s ease;
}

.responseForm textarea:hover {
    background-color: lightgray;
}

.responseForm textarea:focus {
    outline: none;
    border-color: var(--dark-pink);
    background-color: #f9f9f9;
}

.responseForm button {
    font-family: "Nunito";
    border-top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: var(--medium-green) 2px solid;
    background-color: var(--medium-green);
    color: white;
    transition: all 0.3s ease;
}

.responseForm button:hover {
    background-color: var(--dark-pink);
    border-color: var(--dark-pink);
}