:root {
    --dark-green: #2c4938;
    --medium-green: #436e55;
    --light-green: #73996e;
    --dark-pink: #a03451;
    --medium-pink: #da6d8d;
    --light-pink: #f8dbda;
    --black-green: #08100c;
    --black-pink: #110609;
    --white-green: #ebf9ea;
}

body {
    background-color: var(--dark-green);
    color: var(--white-green);
}

a:link {color: var(--light-pink)}
a:visited {color: var(--dark-pink)}
a:hover {color:var(--medium-pink)}
