    body{
        background-color: white;
    }

    .profileContainer{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        justify-items: center;
        padding: 20px;    
    }

    .profilePicture{
        border-radius: 50%;
        border: 3px solid var(--medium-pink);
        width: 200px;
        height: 200px;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(73, 44, 52, 0.2);
        transition: all 0.5s ease;
    }

    .profilePicture:hover{
        transform: scale(1.01);
    }

    .authorName{
        color: var(--dark-pink);
        margin: 2%;
    }

    .streakContainer{
        background-color: var(--medium-pink);
        margin-bottom: 2%;
        border-radius: 5px;
        border: 2px solid var(--medium-pink);
        padding: 1%;
        color: white;
        box-shadow: 0 4px 8px rgba(73, 44, 52, 0.2);
        animation: dropFirst 0.8s ease-out forwards, pulse 2s ease-in-out 0.8s infinite;
    }

    @keyframes pulse {
        0%, 100% {
            transform: scale(1);
        }
        50% {
            transform: scale(1.05);
        }
    }

    .authorLevelContainer{
        border: var(--dark-pink) 2px solid;
        border-radius: 5px;
        background-color: var(--light-pink);
        margin: 2%;
        color: var(--medium-pink);
        box-shadow: 0 4px 8px rgba(73, 44, 52, 0.2);
        transition: all 0.5s ease;
    }

    .authorLevelContainer:hover {
        transform: scale(1.01);
    }

    .authorLevel{
        border: var(--dark-pink) solid;
        background-color: var(--dark-pink); 
        color: white; 
        width: 300px"
    }

    .dailyBonuses {
        list-style: none;
        padding: 2%;
        border: var(--light-pink) solid; 
        background-color: var(--light-pink); 
        width: 300px; 
        border-radius: 20px;
        transition: all 0.5s ease;
        box-shadow: 0 4px 8px rgba(73, 44, 52, 0.2);
        color: var(--dark-pink);
    }

    .dailyBonuses:hover {
        transform: scale(1.01);
    }

    .bonusProgress{
        background-color: var(--dark-pink); 
        border: var(--dark-pink) solid 2px; 
        color: white; 
        border-radius: 5px;
        padding: 0.5%;
    }

    .bonus {
        list-style: none;
        justify-self: left;
        color: var(--dark-pink)
    }

    .bonus input[type="checkbox"]:checked + label .text{
        text-decoration: line-through;
        color: var(--medium-pink);
    }

    .bonus input[type="checkbox"] {
        display: none;
    }

    .bonus label::before {
        content: "⭐️ ";
        font-size: 20px;
    }

    .bonus input[type="checkbox"]:checked + label::before {
        content: "🌟";
    }

    .promptArchive{
        border: 2px solid var(--medium-green); 
        border-radius: 10px;
        width: 98%; 
        text-align: center;
        background-color: var(--white-green);
        box-shadow: 0 4px 8px rgba(73, 44, 52, 0.2);
        width:90%;
        justify-self: center;
        color: var(--black-green);
        transition: all 0.5s ease;
    }

    .promptArchive:hover{
        transform: scale(1.01);
    }

    .promptArchive h3{
        margin-top: 0;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: var(--medium-green);
    }
        
    #expandedContent {
        display: none;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out;
    }

    #expandToggle:checked ~ #expandedContent {
        display: block;
        text-align: center;
        max-height: 500px; /* Adjust based on content */
    }