@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
:root {
    --dark-green: #2c4938;
    --medium-green: #436e55;
    --light-green: #73996e;
    --dark-pink: #a03451;
    --medium-pink: #da6d8d;
    --light-pink: #f8dbda;
    --black-green: #08100c;
    --black-pink: #110609;
    --white-green: #ebf9ea;
}

.quicksand {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.promptContainer {
    border: white 2 px solid;
    border-radius: 20px;
    background-color: white;
    margin-top: 5%;
    width: 90%;
    justify-self: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(44, 73, 56, 0.2);
    transition: all 0.5s ease;
}

.promptContainer:hover {
    transform: scale(1.01);
}

.promptContainer h1 {
    background-color: var(--light-green);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.promptContainer p {
    padding: 3%; 
}

.bonusContainer {
    background-color: white;
}