.promptContainer {
    border: white 2 px solid;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: white;
    margin-top: 5%;
    width: 90%;
    justify-self: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0 4px 8px rgba(44, 73, 56, 0.2);
    transition: all 0.5s ease;
}

.promptContainer:hover {
    transform: scale(1.01);
}

.promptContainer h1 {
    background-color: var(--light-green);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.promptContainer label{
    color: var(--dark-green);
}

#expandedContent {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease-in-out, 
                opacity 0.5s ease-in-out,
                transform 0.5s ease-out;
}

#expandToggle:checked ~ #expandedContent {
    display: block;
    text-align: center;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

.feed {
    display: block;
    justify-self: center;
    text-align: left;
    width: 90%;
    background-color: white;
    border: white 2px solid;
    margin: 2%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 4px 8px rgba(44, 73, 56, 0.2);
}

.response {
    display: block;
    margin-bottom: 3%;
    border: var(--medium-green) solid;
    background-color: var(--medium-green);
    border-radius: 10px;
    width: 97%;
    justify-self: center;
    box-shadow: 0 4px 8px rgba(44, 73, 56, 0.2);
    transition: all 0.5s ease;
}

.response:hover {
    transform: scale(1.01);
}

.responseAuthorContainer {
    margin: 1%;
    color: var(--light-green)
}

.responseAuthor {
    color: white;
    background-color: var(--light-green);
    border-radius: 5px;
    padding: 2px;
}

.responseText {
    width: 95%;
    justify-self: center;
    font-style: italic;
    font-weight: bold;
    color: white;
    margin-bottom: 2%;
}

.fullText {
    font-style: normal;
    font-weight: normal;
    color: var(--white-green);
    margin-bottom: 2%;
}

.reactionPanel{
    margin-left: 2%;
    margin-right: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.reactButton{
    background-color: var(--medium-green);
    border: none;
    border-radius: 5px;
    color: white;
    padding: 1%;
    font-family: "Nunito";
}

.reactionCount {
    font-size: 0.75em;
    color: var(--white-green);
    margin-left: 3px;
}

.reactButton:hover{
    background-color: var(--light-green);
    cursor: pointer;
}

#expandedCritiques {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: max-height 0.5s ease-in-out, 
                opacity 0.5s ease-in-out,
                transform 0.5s ease-out;
}

.critiqueToggle:checked ~ #expandedCritiques {
    display: block;
    text-align: center;
    max-height: 500px;
    opacity: 1;
    transform: translateY(0);
}

.critiqueFeed{
    background-color: var(--light-green);
    margin-bottom: 2%;
    border-radius: 10px;
}

.existingCritiques{
    text-align: left;
    justify-content: left;
}

.critique {
    background-color: white;
    width: 96%;
    justify-self: center;
    border-left: var(--dark-pink) solid 2px;
    padding-left: 1%;
    margin:1%;
}

.critiqueAuthor{
    font-weight: bold;
}

.addCritique{
    text-align: left;
    padding: 2%;
}

.critiqueInput {
    margin-top: 0;
    background-color: var(--white-green);
    font-family: "Nunito";
    border: 0px;
    border-radius: 2px;
    width: 98%;
    justify-self: center;
}

.critiqueInput:focus {
    outline: none;
    background-color: white;
    box-shadow: 0 0 5px var(--medium-pink);
}
